@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  margin: 0;
}

.Myname {
  background: url(https://res.cloudinary.com/huntersattachments/image/upload/c_fill,q_50/v1542058371/IMG_2525.jpg) fixed center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Myname > * {
  margin: 1rem 0;
}

.Myname h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  padding-top: 75px;
}

.Myname h4 {
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  background-color: white;
  border-radius: 15px; 
  padding: 1rem;
  max-width: 300px;
}

.icon {
  fill: white;
  width: 75px;
  position: relative;
  top: 20%;
}

@media screen and (max-width: 375px) {
  .icon {
    top: 15%;
  }
}