@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.Aboutme {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Aboutme h3 {
  font-size: 3rem;
  text-align: center;
}

.Aboutme p {
max-width: 60%;
font-size: 1.5rem;
}