@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.Contact {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.Contact h3 {
  font-size: 3rem;
  text-align: center;
}
.Contact h6 {
  font-size: 1.5rem;
}
.Contact a {
  padding-bottom: 200px;
}
