@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.Projects {
  font-family: 'Ubuntu', sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.Projects h3 {
  font-size: 3rem;
  text-align: center;
}

.Projects li {
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  max-width: 300px;
}

.Projects li:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  border: 1px solid #aaa;
}

.Projects img {
  width: 100%;
}

.icon {
  width: 230px;
  padding: 20px;
}

.imageContainer {
  width: 270px;
  margin: 1rem;
}

@media screen and (max-width: 375px) {
  .Projects ul {
    max-width: 300px;
  }
}